@import 'reset';
@import 'fonts';
@import 'style';

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--VeryLightGray);
}

.top{
    width: 100vw;
    height: auto;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2vh;
}
.top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-header{
    .main-header{
        text-align: center;
        font-weight: 100;
        font-size: 2.8rem;
    }
    .sub-header{
        text-align: center;
        font-weight: 900;
        font-size: 3rem;
    }
}
.top-caption{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    width: 70%;
}

.main-content{
    margin-top: 2rem;
    width: 100vw;
    height: auto;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: column;
}

.card{
    transform: scale(0);
    width: 20rem;
    height: 15rem;
    
    background-color: white;
    box-shadow: 2px 4px 20px -10px var(--GrayishBlue);
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    transition: all 0.2s;
    &-title{
        font-size: 1.5rem;
        font-weight: 900;
    }
    &-content{
        font-size: 0.8rem;
    }
    &-img{
        align-self: flex-end;
        margin-top: 2rem;
    }
    &::before{
        content: '';
        border-top: 5px solid;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 10px;
        border-radius: 10px;
        transition: all 0.5s;
    }
    
    
}
.card-1{
    &::before{
        border-color: var(--Cyan);
    }
    animation: bringIn 0.5s 1 forwards;
}
.card-2{
    &::before{
        border-color: var(--Red);
    }
    animation: bringIn 0.5s 0.1s 1 forwards;
}
.card-3{
    &::before{
        border-color: var(--Orange);
    }
    animation: bringIn 0.5s 0.3s 1 forwards;
}
.card-4{
    &::before{
        border-color: var(--Blue);
    }
    animation: bringIn 0.5s 0.5s 1 forwards;
}
.card:hover{
    cursor: pointer;
    box-shadow: 2px 4px 20px 0px var(--GrayishBlue);
 
    
}

@media only screen and (max-device-width: 1200px)  {
    .card{
        width: 20rem;
        height: 15rem;
    }
    .main-content{
        flex-wrap: wrap;
    }
    .top{
        min-height: 20vh;
    }
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100vw;
    }
    
    .top-header{
        .main-header{
            text-align: center;
            font-weight: 100;
            font-size: 1.4rem;
        }
        .sub-header{
            text-align: center;
            font-weight: 900;
            font-size: 1.5rem;
        }
    }
    .top-caption{
        text-align: center;
        margin-top: 1.5rem;
        font-size: 0.9rem;
        width: 80%;
    }
}

@keyframes bringIn {
    0%{
        transform: scale(0);
    }    
    100%{
        transform: scale(1);
    }
}